/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/outputs.h>
#define DEFAULT 0
#define UPPER   1
#define RAISE   2
/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                         |  Y   |  U    |  I    |  O   |   P   |Backspace|
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                         |  H   |  J    |  K    |  L   |   ;   |   '  |
// | L-CTRL |  Z  |  X  |  C   |  V   |  B  | SPACE | OUT-TOG |    | UPPER | ENTER |  N   |  M    |  ,    |  .   |   /   | R- CTRL |
//                     | LGUI | L-ALT | SHIFT | SPACE | UPPER |    | UPPER | ENTER | R-SHIFT | R-ALT  | R-CTRL |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp BSPC
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LCTRL &kp Z &kp X &kp C &kp V &kp B &kp SPACE &out OUT_TOG               &mo UPPER &kp RETURN &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp RCTRL
	            &kp LGUI &kp LALT &kp LSHFT &kp SPACE &mo UPPER                  &mo UPPER &kp RETURN &kp RSHFT &kp RALT &kp RCTRL
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};                                                                                                                     
		Upper_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  !  |  @  |  #   |  $   |  %   |                                          |  ^   |  &    |  *    |  (  |   )  |Backspace|
// |  CAP  |  1  |  2  |  3   |  4   |  5   |                                          |  6   |  7    |  8    |  9  |   0  |  -  |
// | L-SHIFT | RGB-TOG  | RGB_BRI | RGB_BRD | V | _ | SPACE | L SHIFT |   | L SHIFT | ENTER |  +  |   =  | , | . | RIGHT | R-CTRL|
//                       | BT CLR | BT NXT | BT PRV | SPACE | L SHIFT |   | L SHIFT | ENTER | LEFT  | DOWN  | UP |
			bindings = <
	&kp ESC   &kp EXCL &kp AT &kp HASH  &kp DLLR &kp PRCNT                                       &kp CARET &kp AMPS &kp STAR &kp LPAR &kp RPAR &kp BSPC
	&kp CAPS  &kp N1 &kp N2 &kp N3 &kp N4 &kp N5                                                 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS
	&kp LSHFT &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &kp V &kp UNDER &kp SPACE &mo UPPER                &mo UPPER &kp SPACE &kp PLUS &kp EQUAL  &kp COMMA &kp DOT &kp RIGHT  &kp RCTRL
	                                &bt BT_CLR &bt BT_NXT &bt BT_PRV &kp SPACE &mo UPPER                         &mo UPPER &kp SPACE &kp LEFT &kp DOWN &kp UP
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
	};
};



